# Auto detect text files and perform LF normalization
* text=auto
H:/Projects/SegmentOfOurFault/Assets/Firebase[[:space:]]Data/Firebase/Plugins/x86_64/FirebaseCppApp-10_1_1.bundle filter=lfs diff=lfs merge=lfs -text
